[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/git"]
	path = bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "bundle/css-syntax"]
	path = bundle/css-syntax
	url = git://github.com/ChrisYip/Better-CSS-Syntax-for-Vim.git
[submodule "bundle/coffe"]
	path = bundle/coffe
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/scss"]
	path = bundle/scss
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/interrupted/python-mode.git
[submodule "bundle/fugative"]
	path = bundle/fugative
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/jinja"]
	path = bundle/jinja
	url = git://github.com/estin/htmljinja.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/autotag"]
	path = bundle/autotag
	url = git://github.com/vim-scripts/AutoTag.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git://github.com/rstacruz/sparkup.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/rust"]
	path = bundle/rust
	url = git://github.com/fsouza/rust.vim.git
[submodule "bundle/indenthtml"]
	path = bundle/indenthtml
	url = git://github.com/vim-scripts/indenthtml.vim.git
[submodule "bundle/linenumber"]
	path = bundle/linenumber
	url = git://github.com/myusuf3/numbers.vim.git
